.card-header {
    background-color: black;
    color: white;
    font-size: 40px;
}
.currentDisplay {
    display: table-row;
}
.currentDisplay h1 {
    font-size: 60px;
}
.currentDisplay li {
    font-size: 26px;
    list-style-type: none;
}
.weatherCards {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px;
    margin: 50px;
    align-items: center;
}
#firstRender{
    list-style-type: none;
}
li {
    list-style: none;
}
.cardT {
    padding: 20px;
}
.historyList {
    display: flex;
    margin: 10px;
    border-right: 100px;
}